.title-text-catalog {
  .bold-left-text;
  color: @black;
  line-height: 24px;
}

.text-catalog {
  .normal-left-catalog-text;
  color: @dark-gray;
}

.likes-number {
  .bold-left-text;
  font-size: 14px;
  line-height: 24px;
  padding-left: 14px;
}
