.title-text-catalog {
  .bold-left-text;
  color: @black;
  line-height: 24px;
  font-size: 14px;
}

.text-catalog {
  .normal-left-catalog-text;
  color: @dark-gray;
}

.likes-number {
  .bold-left-text;
  font-size: 14px;
  line-height: 24px;
  padding-left: 14px;
}

.title-text {
  .bold-center-text;
}

.text {
  .normal-center-text;
}


//Header

.header {
  display: flex;
  flex-direction: column;

  .bold-center-text;
  line-height: 40px;
 }

 .header__nav {
  background-color: @blue;
 }

 .site-list__item-mobile-only {
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.2);
 }

 .site-list__item_bottom-shadow {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.2) 100%);
 }

 .site-list__item-mobile-only > a {
   color: @white;
 }

 .header__button-open,
 .header__nav__button-close {
  width: 22px;
  height: 22px;
 }

 .header__logo {
   display: flex;
   justify-content: flex-end;
   height: 56px;
   background-color: @white;
 }

 .logo__mobile-only {
   position: absolute;
   top: 213px;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .header__button-open {
   margin: 17px;
 }

 //Photo

 .photo-wrapper {
   display: grid;
   grid-template-rows: 414px 414px 414px 414px;
 }

 .card {
   display: flex;
   flex-direction: column;

   padding: 23px 20px;
   border-top: 1px solid @photo-border-gray;
 }

.card__description {
  padding-top: 10px;
}

.video__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {

  .photo-wrapper {
    grid-template-rows: 480px 347px 347px;
    grid-template-columns: auto 324px 324px auto;

    grid-template-areas:
    ". red red ."
    ". green yellow ."
    ". blue . .";
  }

  .card {
    padding: 0;
    border-top: none;
  }

  .card__1 {
    grid-area:red;
  }

  .card__2 {
    grid-area:green;
  }

  .card__3 {
    grid-area:yellow;
  }

  .card__4 {
    grid-area:blue;
  }

  .card__description {
    display: flex;
    background-color: @form-gray;
    justify-content: space-between;
  }

  .card__description--text {
    display: flex;
    flex-direction: column;
  }

}
