//First and second reasons style
.reason {
  background-color: @blue;
}

.title-text-white {
  .bold-center-text;
  color: @white;
}

.text-white {
  .normal-center-text;
  color: @white;
}

.other-reasons__list {
  background-color: @gray;
}

.reason {
  display: flex;
  flex-direction: column;
}

.reason-text {
  display: flex;
  flex-direction: column;
  padding: 55px 12px 38px 12px;
}

.reason__number {
  margin: 15px 0;
}


@media (min-width: @tablet-width) {

  .reason {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .reason-text {
    min-width: 256px;
    max-width: 400px;

    padding: 43px 36px 40px 36px;
  }

  .title-text-white {
    font-size: 21px;
  }

  .first-reason__img {
    flex-grow: 2;
  }

  .second-reason__img {
    order: 1;
    flex-grow: 2;
  }

  .second-reason-text {
    order: 2;
  }

}

@media (min-width: @desktop-width) {
  .reason-text {
    padding: 50px 70px;
  }

}


//Features

.features__title {
  .bold-left-text;
}

.features__desc {
  .normal-left-text;
}

.features__list {
  display: flex;
  flex-direction: column;
}

.features__item {
  display: flex;
  align-items: flex-start;
}

.features__img {
  margin: 26px 9px 0 21px;
  width: 39px;
}

.features__title {
  margin-bottom: 15px;
}

.features__text {
  margin-top: 35px;
  padding-right: 21px;
}

.features__item:last-child {
  margin-bottom: 35px;
}


@media (min-width: @tablet-width) {

  .features__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .features__item_food {
    order: 2;
  }

  .features__item_souvenirs {
    order: 3;
  }

  .features__item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
  }

  .features__img {
    margin: 60px 0 26px 0;
    width: 75px;
    height: 70px;
  }

  .features__title {
    text-align: center;
    font-size: 21px;
    margin-bottom: 20px;
  }

  .features__text {
    padding: 0 35px 40px 35px;
    margin: 0;
  }

  .features__desc {
    text-align: center;
  }

}

//Other reasons style

.other-reasons__list {
  display: flex;
  flex-direction: column;
}

.other-reasons__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 26px 26px 0 26px;
  padding-bottom: 26px;
  border-bottom: 1px solid @other-reason-border-gray;
}


@media (min-width: @tablet-width) {
  .other-reasons__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .other-reasons__item {
    margin: 47px 52px 47px 52px;
    border: none;
    padding-bottom: 0;
  }

  .other-reasons__title {
    width: 150px;

  }

  .other-reasons__number {
    padding: 23px 0;
  }

  .black-title-text {
    font-size: 21px;
  }
}

//Form-popup

.form-popup__title {
  .bold-center-text;
  font-size: 21px;
  color: @black;
}

.form-popup__text {
  .normal-center-text;
  line-height: 24px;
}

.form-popup__button-link {
  background-color: @blue;
  color: @white;
}

.form-popup__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 49px;
}

.form-popup__text-wrapper {
  display: flex;
  flex-direction: column;
  margin: 33px 29px 26px 29px;
}

.form-popup__title_wrapper {
  margin-bottom: 30px;
}

.form-popup__button-link {
  .bold-center-text;
  font-size: 21px;

  margin: 0 20px;
  padding: 15px 32px;
}


@media (min-width: @tablet-width) {

  .form-popup__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 58px 0;
  }

  .form-popup__text-wrapper {
    margin: 0px 0px 26px 0px;
    width: 435px;
  }

  .form-popup__title {
    font-size: 30px;
  }

  .form-popup__button-link {
    width: 458px;
  }
}



//Map

.map {
  background-image: url(../../img/mobile/map-mobile.jpg.png);
  background-repeat: no-repeat;
  background-size: 100%;

  height: 350px;
}

@media (min-width: @tablet-width) {
  .map {
    background-image: url(../../img/tablet/map-tablet.jpg.jpg);
  }
}

@media (min-width: @desktop-width) {
  .map {
    background-image: url(../../img/desktop/map-desktop.jpg.jpg)
  }
}
