//Mobile menu


//Header


//Intro


.intro__slogan-text {
  .bold-center-text;
  color: @black
}

.intro__text {
  .normal-center-text;
  font-size: 26px;
  color: @dark-gray;
}


//First, second  and other reasons style
.reason {
  background-color: @blue;
}

.title-text-white {
  .bold-center-text;
  color: @white;
}

.text-white {
  .normal-center-text;
  color: @white;
}

.other-reasons__list {
  background-color: @gray;
}

.black-title-text {
  .bold-center-text;
}

.black-text {
  .normal-center-text;
}

//Features

.features__title {
  .bold-left-text;
}

.features__desc {
  .normal-left-text;
}


//Form-popup

.form-popup__title {
  .bold-center-text;
  color: @black;
}

.form-popup__text {
  .normal-center-text;
  line-height: 24px;
}

.form-popup__button-link {
  background-color: @blue;
  color: @white;
}


.form-popup__wrapper {
  display: flex;
  flex-direction: column;
}



//Map


