//Colors
@white: #ffffff;
@black: #000000;
@blue: #81B3D3;
@brown: #766458;
@dark-gray: #333333;
@gray: #eeeeee;
@form-gray:#F2F2F2;
@other-reason-border-gray: #d6d6d6;


// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;


//Text

.bold-center-text() {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.normal-center-text() {
  font-family: "PT Sans";
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}


.bold-left-text() {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: left;
}

.normal-left-text() {
  font-family: "PT Sans";
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: left;
}

.bold-left-form-text() {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}

.normal-left-catalog-text() {
  font-family: "PT Sans";
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  font-style:normal;
}
